In [1]:
import numpy as np
import pandas as pd

In [2]:
comments_msk = pd.read_csv('data_msk.csv', sep=',', decimal=",")
comments_msk = comments_msk.drop(columns = ['commentsLink', ' index'], axis=1)

comments_spb = pd.read_csv('data_spb.csv', sep=',', decimal=",")
comments_spb = comments_spb.drop(columns = ['commentsLink', ' index'], axis=1)

In [3]:
comments = pd.concat([comments_msk, comments_spb], axis=0)
comments

                                                 comment          mark
0       Преподаватель находит индивидуальный подход п...   Оценка: 5+.
1       Плюсы: Анна Валерьевна обязательна компетентн...    Оценка: 5.
2       СПАСИБО Анна Валерьевна! Сдали хорошо ЕГЭ. С ...    Оценка: 5.
3       50 % успеха - наличие контакта с преподавател...   Оценка: 5+.
4       Анна Валерьевна является не только уникальным...   Оценка: 5+.
...                                                  ...           ...
27652   Дочь учится в 10 классе ей очень нравится зан...    Оценка: 5.
27653   Анна Геннадиевна нам полностью подошла как по...    Оценка: 5.
27654   Преподаватель Анна Геннадиевна продолжает зан...   Оценка: 5+.
27655   Я продолжаю заниматься с преподавателем англи...    Оценка: 5.
27656   "Нам очень нравится наш репетитор по английск...    Оценка: 5.

[87410 rows x 2 columns]

In [4]:
np.unique(comments[' mark'])

array([' Оценка: 1.', ' Оценка: 2.', ' Оценка: 3+.', ' Оценка: 3.',
       ' Оценка: 3−.', ' Оценка: 4+.', ' Оценка: 4.', ' Оценка: 4−.',
       ' Оценка: 5+.', ' Оценка: 5.', ' Оценка: 5−.'], dtype=object)

In [5]:
comments.groupby(' mark').nunique()

               comment
 mark
 Оценка: 1.        102
 Оценка: 2.        378
 Оценка: 3+.       109
 Оценка: 3.        667
 Оценка: 3−.       128
 Оценка: 4+.      1017
 Оценка: 4.       2134
 Оценка: 4−.       292
 Оценка: 5+.     38064
 Оценка: 5.      43120
 Оценка: 5−.       967